.main_layout {
  height: 100vh;
  padding: var(--spacing_lg) clamp(1.5vw, 10vw, 15vw);
  display: flex;
  flex-direction: column;
}

.main_layout_header {
  display: flex;
  justify-content: end;
  margin-bottom: var(--spacing_sm);
}

a {
  text-decoration: none;
  cursor: pointer;
  border: var(--border_secondary);
  border-radius: var(--radius_lg);
  padding: var(--spacing_s) var(--spacing_md);
  display: flex;
  align-items: center;
  background-color: var(--plain_white);
  box-shadow: var(--shadow_secondary);
}
