.button_base {
  cursor: pointer;
  border: var(--border_secondary);
  border-radius: var(--radius_lg);
  padding: var(--spacing_s) var(--spacing_md);
  display: flex;
  align-items: center;
  background-color: var(--plain_white);
}

.button_base.button__with_icon {
  padding-right: 0.9rem;
}

.button_secondary {
  box-shadow: var(--shadow_secondary);
  background-color: var(--plain_white);
}

.button_action {
  color: var(--plain_white);
  background-color: var(--pink);
  box-shadow: var(--shadow_primary);
}

.input_icon {
  margin-left: 0.3rem;
}
