.input_container {
  display: flex;
  align-items: center;
  padding: 0 var(--tertiary_padding_seven);
  border: var(--secondary_border);
  border-radius: var(--radius_five);
}

.input_field {
  outline: none;
  border: none;
  width: 100vmax;
  padding: var(--tertiary_padding_seven) 0;
}

.input_icon {
  height: 20px;
  margin-right: 5px;
}

.input_container:focus-within {
  outline: var(--main_border);
}
