.messages_page_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing_md);
}

.messages_page_filter {
  display: flex;

  column-gap: var(--spacing_s);
}
