.messages_page_section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing_md);
  overflow: auto;
}

.messages_page_options {
  padding: 0 var(--spacing_md);
  display: flex;
  justify-content: flex-end;
}
